<div class="d-flex flex-row bd-highlight mb-3"></div>


<div class="form-froup row" style="widows: 60%;">
    <label class="col-sm-2 col-form-label">Brand</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="carBrand">
            <option>--Select--</option>
            <option *ngFor="let carBrand of CarList">
                {{carBrand.carBrand.brandId}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Model</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="carModel">
            <option>--Select--</option>
            <option *ngFor="let carModel of CarList">
                {{carModel.carModel.modelId}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="carPrice">
            <option>--Select--</option>
            <option *ngFor="let carPrice of CarList">
                {{carPrice.carPrice.priceId}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Year</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="carYear">
            <option>--Select--</option>
            <option *ngFor="let carYear of CarList">
                {{carYear.carYear.yearId}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Fuel</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="carFuel">
            <option>--Select--</option>
            <option *ngFor="let carFuel of CarList">
                {{carFuel.carFuel.fuelId}}
                <!-- {{carFuel.carFuel.fuelName}} -->
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="carDescription" placeholder="Enter Some Text">
    </div>

    
     <label class="col-sm-2 col-form-label">Date of Joining</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]="DateOfJoining" placeholder="Enter Some Text">
    </div>

    


</div>
<div class="ml-3 bd-highlight" style="width: 40%;">
<img [src]=PhotoFilePath height="220px;" width="200px;">
<input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
</div>

<button (click)="addCar()" *ngIf="car.carId==0" class="btn btn-primary">
    Add 
</button>
<button (click)="updateCar()" *ngIf="car.carId!==0" class="btn btn-primary">
    Update
</button>