<div class="container">

  <h3 class="d-flex justify-content-center">AvtoShop</h3>
  <h5 class="d-flex justify-content-center">Car shop just for you!!</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark" id="navv">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <button routerLink="brand" class="m-1 btn btn-light btn-outline-primary" Button>Brands</button>
      </li> -->

      <li class="nav-item">
        <button routerLink="car" class="m-1 btn btn-light btn-outline-primary" Button>Cars</button>
        <button routerLink="contact" class="m-1 btn btn-light btn-outline-primary" Button>Contact</button>
        <button routerLink="about" class="m-1 btn btn-light btn-outline-primary" Button>About Us</button>



      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>
</div>
